/* ---------------------------- */
/* .global {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
} */

.logo {
  height: 10%;
  width: 100%;
  margin-top: 100%;
}
.lien {
  color: black;
}
/* Défilement de droite à gauche */
.marquee-rtl {
  overflow: hidden; /* important */
  width: 50%;
  max-width: 30em; /* A ADAPTER */
  font-size: 25px;
  display: flex;
}
.marquee-rtl > div {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 35s infinite linear; /* défilement */
  cursor: pointer;
  padding: 10px 2em 10px 100%;
  display: flex;
}
.marquee-rtl:hover > div {
  animation-play-state: paused; /* met en pause le défilement */
}
.marquee-rtl > div:first-letter {
  font-weight: 700;
  color: #122441;
  font-size: 35px;
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(-100%);
  }
}
.flex {
  display: flex;
  width: 100%;
  align-content: center;

  justify-content: center;
}
.fond {
  margin-top: -85px;
  margin-bottom: 10px;
  width: 30%;
  height: 50%;
}

.boutlog {
  margin-top: 30%;
  margin-bottom: 30%;
}
.App {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-image: url(./logos/ville.jpg);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(./logos/formes.gif);
  background-repeat: repeat;
  background-size: cover;
  background-color: rgb(15, 2, 61);
}
.containerpost {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-image: url(./logos/icon.svg);
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid #d1515a;
  background-color: #122441;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid #d1515a;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #122441;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
  border-color: #d1515a;
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* création de post css */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: repeat, url(./logos/orig.gif);

  /*      url("https://64.media.tumblr.com/504b77b22396ca06b425e6834a2ad702/81904407f068f9c7-19/s1920x1080/0c0b12cdeb348d6c161b44d93f7d44a921b28b11.gif");  */
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50%;
  border: 5px solid #d1515a;
  border-radius: 25px;
  background-color: rgb(248, 246, 242);
  font-size: 35px;
  margin-top: 50px;
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 40%;
  padding: 20px;
  border: 5px solid #d1515a;
  border-radius: 25px;
  background-color: rgb(248, 246, 242);
  font-size: 35px;
  margin-top: 50px;
}

.formContainer #inputCreatePost {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 35px;
}

.formContainer button {
  margin-top: 2%;
  height: 40%;
  width: 100%;
  border-color: #d1515a solid 2px;
  background-color: #122441;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  justify-content: center;
  margin-top: 25px;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  font-size: 25px;
  width: 100%;
  height: 70px;
  background-color: #d1515a;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  /* background: no-repeat, url(./logos/orig.gif); */
  background-color: rgb(181, 151, 209);
  color: black;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: rgb(12, 12, 12);
  font-weight: lighter;

  /*  background-color: rgb(80, 4, 221); */
}

/*POST INDIVIDUEL  */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: repeat, url(./logos/orig.gif);
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid #d1515a;
  border-radius: 5px;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#individual .body {
  font-size: 30px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 60%;
  padding-top: 100px;
  border-radius: 80px;
  margin-top: 50px;
  background-size: cover;
  background: no-repeat, url(./logos/orig.gif);
  box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
  display: flex;
  font-size: 150%;
}

.loginContainer input,
button {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  font-size: 25px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}
